.song {
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
}

.song img {
    width: 100px;
    height: 100px;
}

.song h2 {
    font-size: 20px;
    ;
}

.headers {
    margin-left: 15px;
}

/* hides horizontal line on last child */
hr:last-of-type {
    display: none;
}

.details-button {
    border: 1px solid #77C9B2;
    background: #77C9B2;
}

.details-button:hover,
.details-button:active {
    background: #589483;
    border-color: #589483;
}