.songs {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
    margin-top: 100px;
    margin-bottom: 100px;
}

.songs ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.songs-loading {
    text-align: center;
    color: red;
}

.songs-error {
    text-align: center;
    color: red;
}